name: Lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  lint:

    runs-on: windows-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: pip install tox
    - name: Lint
      run: tox
